@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  background:#0f172a;
  color:white;
}
html,
body {
  overflow-x: hidden;
}
.container-custom{
  max-width:1200px;
  margin:auto;
  padding-left:24px;
  padding-right:24px;
}